/*first page styling*/
body {
    background: #f8f8ff;
    overflow: auto;
    position: relative;
}

img {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.Name {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #4169e1;
    line-height: 0.35;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1 {
    height: 40px;
    width: 40px;
    background-color: #4169e1;
    margin: 10px;
    border-radius: 50%;
    animation: blink 1s ease-in-out 250ms both infinite;
}
.circle2 {
    height: 40px;
    width: 40px;
    background-color: #4169e1;
    margin: 10px;
    border-radius: 50%;
    animation: blink 1s ease-in-out 500ms both infinite;
}
.circle3 {
    height: 40px;
    width: 40px;
    background-color: #4169e1;
    margin: 10px;
    border-radius: 50%;
    animation: blink 1s ease-in-out 750ms both infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*login page styling*/

.header {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    background-color: #4169e1;
    color: white;
    font-size: 3.5rem;
    line-height: 1.35;
    border-style: solid;
}

.pin {
    width: auto;
    display: flex;
    background-color: white;
    height:auto;
}

#lockIMG {
    flex: 1;
    float: left;
    margin-top: 0rem;
}

#pin {
    padding-left: 50px;
    width: 99%;
    line-height: 8px;
    padding: 8px 10px;
    font-size: 7rem;
    background: white;
    outline: none;
}

.footer {
   width: 100%;
   background-color: #4169e1;
   color: white;
   text-align: center;
   height: 200px;
}

.signin {
    width: 100%;
    height: 170px;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot_pin {
    width: 100%;
    height: 170px;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin {
   align-text: center;
   font-size: 2.0rem;
   background: #4169e1;
   color: white;
   border-radius: 10px 10px 10px 10px;
   width:90%;
   height: 150px;
}

#forgot {
   align-text: center;
   font-size: 2.0rem;
   background: white;
   color: #4169e1;
   border-radius: 10px 10px 10px 10px;
   width: 90%;
   height: 150px;
   border-style: solid;
   border-color: #4169e1;
}

.cardrow{
    justify-content: center;
    align-items: center;
    align-text: center;
    height: 200px;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#img1, #img2, #img3, #img4, #img5, #img6 {
    margin-top: 1rem;
}

.card1 {
   justify-content: center;
   align-items: center;
   font-size: 2.0rem;
   background: white;
   color: #4169e1;
   border-radius: 10px 10px 10px 10px;
   width: 40%;
   height: 200px;
   border-style: solid;
   border-color: #4169e1;
   float: left;
   margin-left: 2rem;
   margin-right: 2rem;
   vertical-align: top;
   display: inline-block;
   align-text: center;
}

.card2 {
   justify-content: center;
   align-items: center;
   font-size: 2.0rem;
   background: white;
   color: #4169e1;
   border-radius: 10px 10px 10px 10px;
   width: 40%;
   height: 200px;
   border-style: solid;
   border-color: #4169e1;
   float: left;
   margin-left: 2rem;
   margin-right: 2rem;
   vertical-align: top;
   display: inline-block;
   align-text: center;
}

/*home page styling*/
.ComingSoon {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #4169e1;
    line-height: 0.65;
}
